<div class="modal-header">
  <span>{{ 'service.edit_service' | translate }}</span>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <img src="../../../assets/cross.svg" alt="">
  </button>
</div>
<div class="modal-body container-fluid">
  <form name="serviceEditForm" role="form" novalidate (ngSubmit)="passService()" [formGroup]="serviceEditForm">
    <div class="row">
      <div class="form-group col-12">
        <label for="nameRu">{{ 'service.name_in_ru' | translate }}</label>
        <input type="text" class="form-control" id="nameRu" formControlName="nameRu">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12">
        <label for="nameKz">{{ 'service.name_in_kz' | translate }}</label>
        <input type="text" class="form-control" id="nameKz" formControlName="nameKz">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-4">
        <label for="code">{{ 'service.code' | translate }}</label>
        <input type="text" class="form-control" id="code" formControlName="code">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12">
        <label for="description">{{ 'service.description' | translate }}</label>
        <input type="text" class="form-control" id="description" formControlName="description">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="rangeStart">{{ 'service.range_start' | translate }}</label>
        <input type="text" class="form-control" id="rangeStart" formControlName="rangeStart">
      </div>
      <div class="form-group col-6">
        <label for="rangeEnd">{{ 'service.range_end' | translate }}</label>
        <input type="text" class="form-control" id="rangeEnd" formControlName="rangeEnd">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="standard">{{ 'service.standard' | translate }}</label>
        <input type="number" class="form-control" id="standard" formControlName="standard">
      </div>
      <div class="form-group col-6">
        <label for="complexity">{{ 'service.complexity' | translate }}</label>
        <input type="number" class="form-control" id="complexity" formControlName="complexity">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="priority">{{ 'service.priority' | translate }}</label>
        <input type="number" class="form-control" id="priority" formControlName="priority">
      </div>
      <div class="form-group col-6">
				<label for="color">{{ 'service.color' | translate }}</label>
				<input type="color" id="color" class="form-control" formControlName="color">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="callOrderable">{{ 'service.call_order' | translate }}</label>
        <input type="text" class="form-control" id="callOrderable" formControlName="callOrderable">
        <span class="tooltip">{{ 'service.call_order_tooltip' | translate }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-4 justify-content-end">
        <button type="submit" [disabled]="serviceEditForm.invalid" class="btn btn-normal">{{ 'common.save' | translate }}</button>
      </div>
    </div>
  </form>
</div>
