<div class="modal-header">
  <span>{{ !user ? ( 'common.add' | translate ) : ( 'common.edit' | translate ) }}</span>
  <button type="button" class="close-btn" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body container-fluid">
  <form role="form" novalidate (ngSubmit)="passUser()" [formGroup]="userEditForm">
    <div class="row">
      <div class="form-group col-6">
        <label for="name">{{ 'user.name' | translate }}</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
      <div class="form-group col-6">
        <label for="surname">{{ 'user.surname' | translate }}</label>
        <input type="text" class="form-control" id="surname" formControlName="surname">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="telephone">{{ 'user.telephone' | translate }}</label>
        <input type="text" class="form-control" id="telephone" formControlName="telephone">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12">
        <label for="company">{{ 'user.company' | translate }}</label>
        <input type="text" class="form-control" id="company" formControlName="company">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="role">{{ 'user.role' | translate }}</label>
        <select class="form-control" id="role" formControlName="role">
          <option value="" disabled selected hidden>{{ 'user.role_placeholder' | translate }}</option>
          <option value="Региональный администратор">{{ 'user.regional_admin' | translate }}</option>
          <option value="Администратор ЦА 2 уровня">{{ 'user.central_admin' | translate }}</option>
          <option value="Региональный аналитик">{{ 'user.regional_analyst' | translate }}</option>
          <option value="Аналитик ЦА">{{ 'user.central_analyst' | translate }}</option>
          <option value="Оператор">{{ 'user.operator' | translate }}</option>
          <option value="Регистратор">{{ 'user.registrator' | translate }}</option>
        </select>
      </div>
      <div class="form-group col-6">
        <label for="code">{{ 'user.code' | translate }}</label>
        <input type="text" class="form-control" id="code" formControlName="code">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="login">{{ 'common.login' | translate }}</label>
        <input type="text" class="form-control" id="login" formControlName="login">
      </div>
      <div class="form-group col-6">
        <label for="email">{{ 'user.email' | translate }}</label>
        <input type="text" class="form-control" id="email" formControlName="email">
      </div>
    </div>
    <div *ngIf="userEditForm.get('role').value!=='Оператор' && userEditForm.get('role').value!=='Регистратор'" class="row">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioStatus" formControlName="status">
        <label ngbButtonLabel class="btn">
          <input ngbButton type="radio" value="active"> {{ 'user.activate' | translate }}
        </label>
        <label ngbButtonLabel class="btn">
          <input ngbButton type="radio" value="inactive"> {{ 'user.block' | translate }}
        </label>
      </div>
    </div>
    <div *ngIf="userEditForm.get('role').value==='Оператор' || userEditForm.get('role').value==='Регистратор'" class="row">
      <label for="">{{ '' | translate }}</label>
      <div class="btn-group btn-group-toggle col-8" ngbRadioGroup formControlName="day">
        <label ngbButtonLabel class="btn">
          <input ngbButton type="radio" value="monday"> {{ 'common.days_of_week.monday' | translate }}
        </label>
        <label ngbButtonLabel class="btn">
          <input ngbButton type="radio" value="tuesday"> {{ 'common.days_of_week.tuesday' | translate }}
        </label>
        <label ngbButtonLabel class="btn">
          <input ngbButton type="radio" value="wednesday"> {{ 'common.days_of_week.wednesday' | translate }}
        </label>
        <label ngbButtonLabel class="btn">
          <input ngbButton type="radio" value="thursday"> {{ 'common.days_of_week.thursday' | translate }}
        </label>
        <label ngbButtonLabel class="btn">
          <input ngbButton type="radio" value="friday"> {{ 'common.days_of_week.friday' | translate }}
        </label>
        <label ngbButtonLabel class="btn">
          <input ngbButton type="radio" value="saturday"> {{ 'common.days_of_week.saturday' | translate }}
        </label>
        <label ngbButtonLabel class="btn">
          <input ngbButton type="radio" value="sunday"> {{ 'common.days_of_week.sunday' | translate }}
        </label>
      </div>
      <div>
        <label for="time">{{ '' | translate }}</label>
        <div>
          <input type="time" id="time" min="09:00" max="18:00" [(ngModel)]="weekSchedule[userEditForm.get('day').value][0]">-<input type="time" id="time" min="09:00" max="18:00" [(ngModel)]="weekSchedule[userEditForm.get('day').value][1]">
        </div>
      </div>
    </div>
    <div class="row">
      <label for="">{{ '' | translate }}</label>
      <input type="checkbox" id="">
    </div>
    <div class="row justify-content-end">
      <div class="col-4">
        <button type="submit" [disabled]="userEditForm.invalid" class="btn btn-normal">{{ 'common.save' | translate }}</button>
      </div>
    </div>
  </form>
</div>
