<section class="content-container">
  <div *ngIf="!users.length" class="initial-block">
    <span class="document-icon"></span>
    <p>{{ 'user.users_are_absent' | translate }}</p>
    <button type="button" class="btn add-btn" (click)="addUser()">+ {{ 'common.add' | translate }}</button>
  </div>
  <div class="btn-row" *ngIf="users.length">
    <span class="title">{{ 'user.users' | translate }}</span>
    <span>
      <form class="search-bar-form">
        <input class="search-bar" type="text" placeholder="{{'common.search_placeholder' | translate}}">
        <button class="btn"><i class="fas fa-search"></i></button>
      </form>
      <button type="button" class="btn add-btn" (click)="addUser()">+ {{ 'common.add' | translate }}</button>
      <button type="button" class="btn download"></button>
    </span>
  </div>
  <table class="table font-weight-bold" *ngIf="users.length">
    <thead>
      <tr class="header-row">
        <th scope="col">№</th>
        <th scope="col">{{ 'user.name' | translate }}</th>
        <th scope="col">{{ 'user.surname' | translate }}</th>
        <th scope="col">{{ 'common.login' | translate }}</th>
        <th scope="col">{{ 'user.email' | translate }}</th>
        <th scope="col">{{ 'user.telephone' | translate }}</th>
        <th scope="col">{{ 'user.role' | translate }}</th>
        <th scope="col">{{ 'user.code' | translate }}</th>
        <th scope="col" class="status-cell-header">{{ 'user.status' | translate }}</th>
        <th scope="col" class="actions-row">{{ 'common.actions' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-bottom-grey" *ngFor="let user of users;">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.loginStatus}}</td>
        <td>{{user.email}}</td>
        <td>{{user.telephone}}</td>
        <td>{{user.role}}</td>
        <td>{{user.code}}</td>
        <td class="status-cell">
          <span [ngClass]="{'active-user': user.status==='active', 'inactive-user': user.status==='inactive'}">
            {{user.status==='active' ? ( 'user.active' | translate ) : ( 'user.inactive' | translate )}}
          </span>
        </td>
        <td class="actions-row">
          <button type="button" class="btn edit-btn" (click)="editUser(user)">
            <img class="action-icon" src="../assets/edit.svg" alt="">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="users.length"></ngb-pagination>
  </div>
</section>
