@import '../app.component.scss';

table tr:hover td,table tr:hover td button {
	background-color: $row-hover-color;
}

table tr:hover .action-icon {
	filter: grayscale(0);
}

.actions-row {
  text-align: right;
}

.active-user {
  border: 1px solid $border-color-status-active;
  color: $button-color-green-pressed;
  margin: auto;
  padding: 0.4rem 2rem;
}

.add-btn {
  margin-left: 1.2rem;
  margin-bottom: 0.6rem;
  margin-right: 1.2rem;
  height: 4.4rem;
}

.btn-row form{
  display: inline-block;
}

.download {
  background: url('../../assets/download.svg') center no-repeat;
	width: 4.4rem;
  height: 4.4rem;
  background-color: $color-grey;
  margin-left: 1.2rem;
  margin-bottom: 0.6rem;
  padding: 1rem;
}

.inactive-user {
  border: 1px solid $border-color-status-inactive;
  color: $text-color-status-inactive;
  padding: 0.4rem 1.2rem;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.status-cell {
  padding: 1rem 0.8rem 0.6rem 0.8rem;
}

.status-cell-header {
  padding: 1.3rem 0.8rem 1.3rem 0.8rem;
}

ngb-pagination {
  font-size: 1.6rem;
}