@import '../../app.component.scss';

.line {
	background-color: $color-grey;
	display: inline-block;
	height: 0.2rem;
	margin: 0 0.5rem 2.4rem 0.5rem;
	width: calc((100% - 23rem)/2);
}

.line.remaining {
  background-color: $color-grey;
}

.line.in-process {
  background-color: $color-green-normal;
}

.loading-bar {
	display: inline-block;
  height: 0.9rem;
  margin: 0;
}

.loading-bar.minimal {
  width: 10%;
}

.loading-bar.mid {
  width: 50%;
}

.loading-bar.prevalent {
  width: 90%;
}

.loading-bar finished {
  width: 100%;
}

.loading-bars {
	line-height: 0;
	width: 100%;
}

.first-loading-stage, .second-loading-stage, .third-loading-stage {
	background-repeat: no-repeat;
	display: inline-block;
  height: 5.1rem;
  width: 5.1rem;
}

.first-loading-stage.active {
	background-image: url(../../../assets/1-stage-active.svg);
}

.second-loading-stage.active {
	background-image: url(../../../assets/2-stage-active.svg);
}

.second-loading-stage.inactive {
	background-image: url(../../../assets/2-stage-inactive.svg);
}

.first-loading-stage.completed, .second-loading-stage.completed, .third-loading-stage.completed {
	background-image: url(../../../assets/stage-completed.svg);
}

.third-loading-stage.active {
	background-image: url(../../../assets/3-stage-active.svg);
}

.third-loading-stage.inactive {
	background-image: url(../../../assets/3-stage-inactive.svg);
}

.loading-stages {
	background-color: #fff;
	font-weight: bold;
	padding-top: 5rem;	
}

.loading-stage-icons {
	margin: 0 auto;
	padding: 0 5rem;
	width: 90%;
}

.loading-stage-labels {
  display: flex;
  justify-content: space-between;
  margin: 1rem 12rem 1rem 5rem;
}

.bar-completed {
  background-color: $color-green-normal;
}

.bar-uncompleted {
  background-color: $loading-bar-color-uncompleted;
}