@import '../../app.component.scss';

a {
	background-color: #fff;
	height: 4.4rem;
	padding-top: 0.8rem;
}

section {
	background-color: #fff;
}

.branch-config-container {
	background-color: $background-color-grey;
}

.btn-row {
	background-color: $color-light-grey;
	height: 8.8rem;
	margin: 0;
	padding: 2.2rem 2rem;
}

.button-col {
	width: 4rem;
}

.cancel-btn {
	margin-left: calc( 100% - 33.5rem );
	margin-right: 1.1rem;
	padding: 1rem 2rem;
}

.container-fluid {
	padding: 0;
}

.continue {
	margin-right: 0;
}

.headline-text {
	font-size: 2rem;
	font-weight: bold;
	margin-top: 1rem;
}

.row {
	margin: 0;
}

.services-selection-container {
	margin-bottom: 2.8rem;
}

.services-selection, .selected-services {
	padding: 0
}