@import '../../app.component.scss';

a {
	background-color: #fff;
	height: 4.4rem;
	margin-left: calc( 100% - 24rem );
	padding-top: 0.8rem;
}

form {
	background-color: #fff;
	margin-bottom: 2.8rem;
	padding: 5rem 3.2rem 3.2rem 3.2rem;
}

.continue-btn {
	margin-right: 0;
}

.form-container {
	padding: 0;
}