<section class="branch-config-container container-fluid">
	<app-branches-loading-stages [loadingStage]="2"></app-branches-loading-stages>
	<div class="row devices-config-container">
		<section class="device-config border-right col-md-6">
			<form role="form" novalidate (ngSubmit)="passDevicesConfig()" [formGroup]="devicesEditForm">
				<p class="headline-text">{{ 'branch.add_device' | translate }}</p>
				<div class="form-group">
					<label for="deviceType">{{ 'branch.device_type' | translate }}</label>
					<select class="form-control" id="deviceType" formControlName="deviceType">
						<option value="" disabled selected hidden>{{ 'branch.device_selection_placeholder' | translate }}</option>
						<option value="kiosk">{{ 'branch.device_types.kiosk' | translate }}</option>
						<option value="panel">{{ 'branch.device_types.panel' | translate }}</option>
						<option value="window">{{ 'branch.device_types.window' | translate }}</option>
						<option value="display">{{ 'branch.device_types.2-display' | translate }}</option>
						<option value="parlour">{{ 'branch.device_types.parlour' | translate }}</option>
					</select>
				</div>
	
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value!=='window' || devicesEditForm.get('deviceType').value!==''">
					<label for="nameRu">{{ 'branch.device_name_in_ru' | translate }}</label>
					<input type="text" class="form-control" id="nameRu" formControlName="nameRu">
				</div>
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value!=='window' || devicesEditForm.get('deviceType').value!==''">
					<label for="nameKz">{{ 'branch.device_name_in_kz' | translate }}</label>
					<input type="text" class="form-control" id="nameKz" formControlName="nameKz">
				</div>
		
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='kiosk'">
					<label for="printTextRu">{{ 'branch.print_text' | translate }}</label>
					<input type="text" class="form-control" id="printTextRu" formControlName="printTextRu">
				</div>
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='kiosk'">
					<label for="printTextKz">{{ 'branch.print_text_in_kz' | translate }}</label>
					<input type="text" class="form-control" id="printTextKz" formControlName="printTextKz">
				</div>
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='kiosk'">
					<input type="checkbox" id="playSound" formControlName="playSound">
					<label for="playSound">{{ 'branch.play_sound' | translate }}</label>
				</div>
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='kiosk'">
					<input type="checkbox" id="soundDelay" formControlName="soundDelay">
					<label for="soundDelay">{{ 'branch.play_sound_with_delay' | translate }}</label>
					<p class="tooltip-text">{{ 'branch.device_service_tooltip' | translate }}</p>
				</div>
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='kiosk'">
					<input type="checkbox" id="narrowPrintPaper" formControlName="narrowPrintPaper">
					<label for="narrowPrintPaper">{{ 'branch.print_on_narrow_paper' | translate }}</label>
					<p class="tooltip-text">{{ 'branch.device_service_tooltip' | translate }}</p>
				</div>
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='kiosk'">
					<label for="printPaperLength">{{ 'branch.print_paper_length' | translate }}</label>
					<input type="text" class="form-control" id="printPaperLength" formControlName="printPaperLength">
				</div>
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='window'">
					<label for="windowId">{{ 'branch.window_number' | translate }}</label>
					<input type="text" class="form-control" id="windowId" formControlName="windowId">
				</div>
				
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='panel'">
					<label for="newsTickerText">{{ 'branch.news_ticker_text' | translate }}</label>
					<input type="text" class="form-control" id="newsTickerText" formControlName="newsTickerText">
				</div>
		
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='kiosk' || devicesEditForm.get('deviceType').value==='panel' || devicesEditForm.get('deviceType').value==='window' || devicesEditForm.get('deviceType').value==='parlour'">
					<label for="services">{{ 'service.services' | translate }}</label>
					<select class="form-control" id="services" formControlName="services">
						<option *ngFor="let service of availableServices">{{service.nameRu}}</option>
					</select>
				</div>
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='window'">
					<label for="servicesPriority">{{ 'branch.services_priority' | translate }}</label>
					<select class="form-control" id="servicesPriority" formControlName="servicesPriority">
						<option *ngFor="let service of availableServices">{{service.nameRu}}</option>
					</select>
				</div>
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='window'">
					<label for="users">{{ 'user.users' | translate }}</label>
					<select class="form-control" id="users" formControlName="users">
						<option *ngFor="let user of availableUsers">{{user.name}}</option>
					</select>
				</div>
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='window'">
					<input type="checkbox" id="autoCall" formControlName="autoCall">
					<label for="autoCall">{{ 'branch.autocall' | translate }}</label>
				</div>
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='window'">
					<label for="desktopNotification">{{ 'branch.desktop_notification' | translate }}</label>
					<select class="form-control" id="desktopNotification" formControlName="desktopNotification">
						<option value="" disabled selected hidden>{{ 'branch.always' | translate }}</option>
						<option value="kiosk">{{ 'branch.device_types.kiosk' | translate }}</option>
						<option value="panel">{{ 'branch.device_types.panel' | translate }}</option>
					</select>
					<p class="tooltip-text">{{ 'branch.desktop_notification_tooltip' | translate }}</p>
				</div>
				
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='panel'">
					<input type="checkbox" id="showCustomerId" formControlName="showCustomerId">
					<label for="showCustomerId">{{ 'branch.show_customer_id' | translate }}</label>
				</div>
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='panel'">
					<input type="checkbox" id="sevenSegmentedDisplay" formControlName="sevenSegmentDisplay">
					<label for="sevenSegmentedDisplay">{{ 'branch.seven_segment_display' | translate }}</label>
				</div>
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='panel'">
					<label for="ticketCount">{{ 'branch.ticket_count' | translate }}</label>
					<input type="text" class="form-control" id="ticketCount" formControlName="ticketCount">
				</div>
		
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='parlour'">
					<label for="operators">{{ 'branch.operators' | translate }}</label>
					<select class="form-control" id="operators" formControlName="operators">
						<option *ngFor="let operator of availableOperators">{{operator.id}}</option>
					</select>
				</div>
		
				<div class="form-group" *ngIf="devicesEditForm.get('deviceType').value==='display'">
					<label for="operator">{{ 'user.operator' | translate }}</label>
					<select class="form-control" id="operator" formControlName="operator">
						<option *ngFor="let operator of availableOperators">{{operator.id}}</option>
					</select>
					<p class="tooltip-text">{{ 'branch.device_service_tooltip' | translate }}</p>
				</div>
		
				<button type="button" class="btn btn-normal">{{ 'common.add' | translate }}</button>
			</form>
		</section>
	
		<section class="list-of-devices col-md-6">
			<table class="table border-bottom" *ngIf="devices">
				<colgroup>
					<col>
					<col class="button-col">
					<col class="button-col">
					<col class="button-col">
				</colgroup>
				<tbody>
					<tr *ngFor="let device of devices">
						<td class="border-left">
							<span>{{device.type}}</span>
							<span>{{device.nameRu}}</span>
						</td>
						<td class="border-left">
							<button type="button" class="btn edit2-icon" (click)="editDevice()"></button>
						</td>
						<td class="border-left">
							<button type="button" class="btn test-icon"></button>
						</td>
						<td class="border-left">
							<button type="button" class="btn delete2-icon" (click)="deleteDevice()"></button>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
  <button type="button" class="btn cancel-btn" (click)="cancelConfig()">{{ 'common.cancel' | translate }}</button>
  <a role="button" class="btn btn-light" [routerLink]="'/branch-config/services'">{{ 'common.back' | translate }}</a>
  <button type="button" class="btn btn-normal finish" (click)="finishConfig()">{{ 'common.finish' | translate }}</button>
</section>