<section class="branch-config-container">
  <app-branches-loading-stages [loadingStage]="0"></app-branches-loading-stages>
  <section class="container-fluid form-container">
    <form id="infoEditForm" name="infoEditForm" role="form" novalidate (ngSubmit)="continueToServicesConfig()" [formGroup]="infoEditForm">
      <div class="row">
        <div class="form-group col-4">
          <label for="nameRU">{{ 'branch.branch_name_in_ru' | translate }}</label>
          <input type="text" class="form-control" id="nameRu" formControlName="nameRu">
        </div>
        <div class="form-group col-4">
          <label for="nameKz">{{ 'branch.branch_name_in_kz' | translate }}</label>
          <input type="text" class="form-control" id="nameKz" formControlName="nameKz">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-4">
          <label for="addressRu">{{ 'branch.branch_address_in_ru' | translate }}</label>
          <input type="text" class="form-control" id="addressRu" formControlName="addressRu">
        </div>
        <div class="form-group col-4">
          <label for="addressKz">{{ 'branch.branch_address_in_kz' | translate }}</label>
          <input type="text" class="form-control" id="addressKz" formControlName="addressKz">
        </div>
			</div>
			<div class="row">
				<div class="form-group col-4">
					<label for="branchCode">{{ 'branch.branch_code' | translate }}</label>
					<input type="text" class="form-control" id="branchCode" formControlName="branchCode">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-4">
					<input type="checkbox" id="banners" formControlName="banners">
					<label for="banners">{{ 'branch.banners_on_two_screens' | translate }}</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-4">
					<label for="timezone">{{ 'hierarchy.timezone' | translate }}</label>
					<select class="form-control" id="timezone" formControlName="timezone">
						<option value="" disabled selected hidden>{{ 'hierarchy.timezone_placeholder' | translate }}</option>
						<option value="GMT+6">GMT+6</option>
						<option value="GMT+5">GMT+5</option>
					</select>
					<p class="tooltip-text">{{ 'branch.timezone_tooltip' | translate }}</p>
				</div>
			</div>
    </form>
    <!-- [disabled]="infoEditForm.invalid" -->
    <a role="button" class="btn" [routerLink]="'/branches'">{{ 'common.cancel' | translate }}</a>
    <button form="infoEditForm" type="submit" class="btn btn-normal continue-btn" (click)="continueToServicesConfig()">{{ 'common.continue' | translate }}</button>
  </section>
</section>