@import '../../app.component.scss';

form {
	background-color: #fff;
	padding: 4rem 3.2rem 3.2rem 3.2rem;
}

form .btn {
	margin-left: 0;
}

a {
	background-color: #fff;
	height: 4.4rem;
	// margin-left: calc( 100% - 24rem );
	padding-top: 0.8rem;
}

table {
	margin: 0;
	table-layout: fixed;
}

.branch-config-container {
	background-color: $background-color-grey;
}

.button-col {
	width: 4rem;
}

.cancel-btn {
	margin-left: calc( 100% - 32.4rem );
	margin-right: 1.1rem;
	padding: 1rem 2rem;
}

.container-fluid {
	padding: 0;
}

.device-config {
	padding: 0;
}

.devices-config-container {
	background-color: #fff;
	margin-bottom: 2.8rem;
}

.finish {
	margin-right: 0;
}

.headline-text {
	font-size: 2rem;
	font-weight: bold;
}

.list-of-devices {
	height: 100%;
	padding: 0;
}

.row {
	margin-left: 0;
	margin-right: 0;
}