<section class="branch-config-container">
  <app-branches-loading-stages [loadingStage]="1"></app-branches-loading-stages>
  <div class="container-fluid services-selection-container">
    <div class="row">
      <section class="services-selection col-6 border-right border-top">
        <div class="btn-row">
          <div class="form-group">
            <input type="text" class="search-bar" placeholder="{{'branch.search_placeholder'|translate}}">
          </div>
          <button type="button" class="btn btn-normal">{{ 'common.add' | translate }}</button>
          <button type="button" class="btn btn-grey">{{ 'common.add_all' | translate }}</button>
        </div>
        <table class="table" *ngIf="availableCategories">
					<colgroup>
						<col>
						<col class="button-col">
					</colgroup>
          <tbody>
            <tr *ngFor="let service of availableCategories;">
              <td> <input type="checkbox"> {{service.nameRu}}</td>
              <td>
                <button type="button" class="btn edit-btn" (click)="seeDeviceInfo(service)">
                  <img class="action-icon" src="../assets/info.svg" alt="">
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="selected-services col-6 border-top">
        <div class="btn-row">
          <span class="headline-text">{{ 'branch.selected_services' | translate }}</span>
          <button type="button" class="btn btn-grey">{{ 'common.clear_all' | translate }}</button>
        </div>
        <table class="table" *ngIf="selectedCategories">
					<colgroup>
						<col>
						<col class="button-col">
					</colgroup>
          <tbody>
            <tr *ngFor="let category of selectedCategories;">
              <td>{{category.nameRu}}</td>
              <td>
                <button type="button" class="btn edit-btn" (click)="deleteService()">
                  <img class="action-icon" src="../assets/delete.svg" alt="">
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
  <button type="button" class="btn cancel-btn" (click)="cancelConfig()">{{ 'common.cancel' | translate }}</button>
  <a role="button" class="btn" [routerLink]="'/branch-config/info'">{{ 'common.back' | translate }}</a>
  <button type="button" class="btn btn-normal continue" (click)="continueToDevicesConfig()">{{ 'common.continue' | translate }}</button>
</section>