<section class="loading-stages">
  <div class="loading-stage-icons">
    <span [ngClass]="{'first-loading-stage': true, 'active': loadingStage < 1, 'completed': loadingStage > 0}"></span>
    <span [ngClass]="{'line': true, 'remaining': loadingStage < 1, 'in-process': loadingStage > 0}"></span>
    <span [ngClass]="{'second-loading-stage': true, 'completed': loadingStage > 1, 'active': loadingStage === 1, 'inactive': loadingStage < 1}"></span >
    <span [ngClass]="{'line': true, 'remaining': loadingStage < 2, 'in-process': loadingStage > 1}"></span>
    <span [ngClass]="{'third-loading-stage': true, 'completed': loadingStage > 2, 'active': loadingStage === 2,'inactive': loadingStage < 2}"></span>
  </div>
  <div class="loading-stage-labels">
    <span class="stage-text">{{ 'branch.info_about_branch' | translate }}</span>
    <span class="stage-text">{{ 'branch.service_config' | translate }}</span>
    <span class="stage-text">{{ 'branch.unit_config' | translate }}</span>
  </div>
  <div class="loading-bars">
    <span [ngClass]="{
      'loading-bar': true,
      'bar-completed': true,
      'minimal': loadingStage === 0,
      'mid': loadingStage === 1,
      'prevalent': loadingStage === 2,
      'finished': loadingStage === 3
    }"></span>
    <span [ngClass]="{
      'loading-bar': true,
      'bar-uncompleted': true,
      'minimal': loadingStage === 2,
      'mid': loadingStage === 1,
      'prevalent': loadingStage === 0
    }" *ngIf="loadingStage < 3"></span>
  </div>
</section>