<div class="modal-body">
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <img src="../../../assets/cross.svg" alt="">
  </button>
  <a href=""></a>
</div>