@import '../app.component.scss';

.first-column {
  align-items: center;
  background-color: $background-color-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.first-column p {
  font-size: 1.6em;
}

.hall-img {
  width: 100%;
}

.hall-img-container {
  width: 86%;
}

.second-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.login-button {
  width: 100%;
  height: 5rem;
  margin: 0;
}

.login-container {
  margin: 0;
  min-height: 100vh;
}

.login-form {
  width: 40%;
  height: 40%;
}

.login-input {
  min-height: 4rem;
}

.login-settings {
  display: flex;
  font-size: 1.3rem;
  justify-content: space-between;
  margin-bottom: 0.7rem;
  width: 100%;
}

.authorization {
  font-size: 2.4rem;
  font-weight: bold;
}

button, label {
  font-size: 1.6rem;
}