<div class="row login-container">
  <div class="col-md-7 first-column">
    <div>
      <img class="kezek-logo-image" src="../assets/kezek-logo.svg" alt="">
      <p>{{ 'login.description' | translate }}</p>
    </div>
    <div class="hall-img-container">
      <img class="hall-img" src="../assets/hall_image.svg" alt="login screen image">
    </div>
  </div>
  <div class="col-md-5 second-column">
    <div class="login-form">
      <p class="authorization">{{ 'login.authorization' | translate }}</p>
      <div class="form-group">
        <label for="inputLogin">{{ 'common.login' | translate }}</label>
        <input type="text" class="form-control login-input" id="inputLogin">
      </div>
      <div class="form-group">
        <label for="inputPassword">{{ 'common.password' | translate }}</label>
        <input type="password" class="form-control login-input" id="inputPassword">
      </div>
      <div class="login-settings">
        <span><input type="checkbox" name="remember_me">{{ 'login.remember_me' | translate }}</span>
        <a href="">{{ 'login.forget_password' | translate }}</a>
      </div>
      <button (click)="login()" class="btn btn-normal login-button">{{ 'login.enter' | translate }}</button>
    </div>
  </div>
</div>
