<section class="content-container">
  <div *ngIf="!locations.length" class="initial-block">
    <span class="document-icon"></span>
    <p>{{ 'hierarchy.hierarchy_is_absent' | translate }}</p>
    <button type="button" class="btn add-btn" (click)="addLocation()">+ {{ 'common.add' | translate }}</button>
  </div>
  <div class="btn-row" *ngIf="locations.length">
    <span class="title">{{ 'menu.hierarchy' | translate }}</span>
    <span>
      <button type="button" class="btn btn-normal">{{ 'common.save' | translate }}</button>
      <button type="button" class="btn add-btn" (click)="addLocation()">+ {{ 'common.add' | translate }}</button>
      <div ngbDropdown class="d-inline-block">
        <button ngbDropdownToggle type="button" class="btn excel-btn"></button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem>{{ 'hierarchy.export_excel' | translate }}</button>
          <button ngbDropdownItem>{{ 'hierarchy.import_excel' | translate }}</button>
        </div>
      </div>
    </span>
  </div>
  <table class="table" *ngIf="locations.length">
    <thead>
      <tr class="header-row">
        <th scope="col">{{ 'hierarchy.record_code' | translate }}</th>
        <th scope="col">{{ 'hierarchy.record_title' | translate }}</th>
        <th scope="col">{{ 'hierarchy.record_title_in_kz' | translate }}</th>
        <th scope="col">{{ 'common.actions' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngTemplateOutlet="recursiveLocationTree; context: { $implicit: locations }"></ng-container>
    </tbody>
  </table>
</section>

<ng-template #recursiveLocationTree let-treelocations>
  <ng-container *ngFor="let location of treelocations">
    <tr>
      <td>
        <button class="btn arrow-btn" [ngClass]="{'arrow-up':location.showSublocations,'arrow-down':!location.showSublocations}" (click)="location.showSublocations = !location.showSublocations">
          {{location.code}}
        </button>
      </td>
      <td>{{location.nameRu}}</td>
      <td>{{location.nameKz}}</td>
      <td>
        <button type="button" class="btn add-icon action-icon" (click)="addLocation(location.code, location.ancestorCodes)"></button>
        <button type="button" class="btn edit-icon action-icon" (click)="editLocation(location, location.ancestorCodes)"></button>
        <button type="button" class="btn delete-icon action-icon" (click)="deleteLocation(location.ancestorCodes)"></button>
      </td>
    </tr>
    <ng-container *ngIf="location.showSublocations">
      <ng-container *ngTemplateOutlet="recursiveLocationTree; context:{ $implicit: location.sublocations }"></ng-container>
    </ng-container>
  </ng-container>
</ng-template>
