@import '../app.component.scss';

main {
  background-color: $background-color-grey;
  margin-left: 310px;
  height: 100vh;
}

table tr:hover td,table tr:hover td button {
	background-color: $row-hover-color;
}

table tr:hover .action-icon {
	filter: grayscale(0);
}

.dropdown-toggle::after {
	display:none;
}

.dropdown-arrow {
	margin-right: 0.5rem;
	width: 1.2rem;
	height: 1.2rem;
}

.dropdown-item {
	padding: 1rem;
}

.arrow-btn {
	padding-left: 1.7rem;
}

.arrow-up {
  background: url('../../assets/arrow-up-blue.svg') left 0.5rem no-repeat;
}

.arrow-down {
  background: url('../../assets/arrow-down-blue.svg') left 0.5rem no-repeat;
}

.title {
	margin-right: auto;
}

.add-icon {
  background: url('../../assets/add.svg') no-repeat;
}

.edit-icon {
  background: url('../../assets/edit.svg') no-repeat;
}

.delete-icon {
  background: url('../../assets/delete.svg') no-repeat;
}

.action-icon {
	width: 2.9rem;
	height: 2.9rem;
}