<div class="modal-header">
  <span>{{ 'service.edit_category' | translate }}</span>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <img src="../../../assets/cross.svg" alt="">
  </button>
</div>
<div class="modal-body">
  <form name="categoryEditForm" role="form" novalidate (ngSubmit)="passCategory()" [formGroup]="categoryEditForm">
    <div class="form-group">
      <label for="isSubcategory">
        {{ 'service.is_subcategory' | translate }}
        <input type="checkbox" id="isSubcategory" formControlName="isSubcategory">
      </label>
    </div>
    <div *ngIf="categoryEditForm.get('isSubcategory').value" class="form-group">
      <label for="parentCategory">{{ 'service.select_parent_category' | translate }}</label>
      <select class="form-control" id="parentCategory" formControlName="parentCategory">
        <option value="" disabled selected hidden>{{ 'service.select_parent_category_placeholder' | translate }}</option>
        <option *ngFor="let parentCategory of parentCategories" value="parentCategory">{{parentCategory}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="nameRu">{{ 'service.category_name_in_ru' | translate }}</label>
      <input placeholder="{{ 'service.category_name_placeholder' | translate }}" type="text" class="form-control" id="nameRu" formControlName="nameRu">
    </div>
    <div class="form-group">
      <label for="nameKz">{{ 'service.category_name_in_kz' | translate }}</label>
      <input placeholder="{{ 'service.category_name_in_kz_placeholder' | translate }}" type="text" class="form-control" id="nameKz" formControlName="nameKz">
    </div>
    <button type="button" class="btn btn-normal" [disabled]="categoryEditForm.invalid">{{ 'common.save' | translate }}</button>
  </form>
</div>