<section class="content-container">
  <div *ngIf="!branches.length" class="initial-block">
    <span class="document-icon"></span>
    <p class="">{{ 'branch.branches_are_absent' | translate }}</p>
    <button type="button" class="btn add-btn" (click)="addBranch()">+ {{ 'common.add' | translate }}</button>
  </div>
  <div class="btn-row" *ngIf="branches.length">
    <span class="title">{{ 'menu.branches' | translate }}</span>
    <span class="d-flex">
      <a role="button" class="btn add-btn m-2 px-4" [routerLink]="'/branch-config/info'">+ {{ 'common.add' | translate }}</a>
      <button type="button" class="btn btn-normal refresh-all-btn m-2 px-4">{{ 'common.refresh_all' | translate }}</button>
    </span>
  </div>
  <table class="table" *ngIf="branches.length">
    <thead>
      <tr class="header-row">
        <th scope="col">ID</th>
        <th scope="col">{{ 'branch.name' | translate }}</th>
        <th colspan="7">{{ 'common.actions' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let branch of branches;">
        <td>{{branch.id}}</td>
        <td>{{branch.nameRu}}</td>
        <td class="border-left">
          <button id="edit" type="button" class="btn edit2-icon" (click)="editBranch()"></button>
					<label for="edit">{{ 'common.edit' | translate }}</label>
        </td>
        <td class="border-left">
          <button id="relaunch" type="button" class="btn relaunch-icon"></button>
					<label for="relaunch">{{ 'branch.relaunch' | translate }}</label>
        </td>
        <td class="border-left">
          <button id="test" type="button" class="btn test-icon"></button>
					<label for="test">{{ 'common.test' | translate }}</label>
        </td>
        <td class="border-left">
          <button id="panel" type="button" class="btn panel-icon"></button>
					<label for="panel">{{ 'branch.panel' | translate }}</label>
        </td>
        <td class="border-left">
          <button id="statistics" type="button" class="btn statistics-icon"></button>
					<label for="statistics">{{ 'branch.statistics' | translate }}</label>
        </td>
        <td class="border-left">
          <button id="clear-queue" type="button" class="btn clear-queue-icon"></button>
					<label for="clear-queue">{{ 'branch.clear_queue' | translate }}</label>
        </td>
        <td class="border-left">
          <button id="delete" type="button" class="btn delete2-icon" (click)="deleteBranch()"></button>
					<label for="delete">{{ 'common.delete' | translate }}</label>
        </td>
      </tr>
    </tbody>
  </table>
</section>
