@import '../app.component.scss';

.table, .btn {
	font-weight: bold;
}

.table tbody tr td {
	padding-left: 2.5rem;
}

.table label {
	margin: 0 0 0 0.5rem;
}

.relaunch-icon {
  background: url('../../assets/restart.svg') no-repeat;
	height: 1.9rem;
	padding-left: 1.9rem;
  width: auto;
}

.panel-icon {
  background: url('../../assets/panel.svg') no-repeat;
  height: 1.8rem;
	padding-left: 2.1rem;
  width: auto;
}

.statistics-icon {
  background: url('../../assets/statistics.svg') no-repeat;
  height: 2rem;
	padding-left: 2.3rem;
  width: auto;
}

.clear-queue-icon {
  background: url('../../assets/clear-queue.svg') no-repeat;
  height: 2rem;
	padding-left: 2.3rem;
  width: auto;
}