<div class="modal-header">
  <span>{{ !settings ? ( 'common.add' | translate ) : ( 'common.edit' | translate ) }}</span>
  <button type="button" class="close-btn" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body container-fluid">
	<form role="form" novalidate (ngSubmit)="passSettings()" [formGroup]="settingsEditForm">
    <div class="form-group">
      <label for="region">{{ 'settings.region' | translate }}</label>
      <select class="form-control" id="region" formControlName="region">
        <option value="" disabled selected hidden>{{ 'settings.select_region_placeholder' | translate }}</option>
        <option *ngFor="let region of regions" value="region">{{region}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="branch">{{ 'settings.branch' | translate }}</label>
      <select class="form-control" id="branch" formControlName="branch">
        <option value="" disabled selected hidden>{{ 'settings.select_branch_placeholder' | translate }}</option>
        <option *ngFor="let branch of branches" value="branch">{{branch}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="mainInformationPanel">{{ 'settings.main_information_panel' | translate }}</label>
      <select class="form-control" id="mainInformationPanel" formControlName="panel">
        <option value="" disabled selected hidden>{{ 'settings.select_panel_placeholder' | translate }}</option>
        <option *ngFor="let panel of panels" value="panel">{{panel}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="displayedMedia">{{ 'settings.display_on_the_right_side' | translate }}</label>
      <select class="form-control" id="displayedMedia" formControlName="displayedMedia">
        <option value="" disabled selected hidden>{{ 'settings.select_displayed_media_placeholder' | translate }}</option>
        <option *ngFor="let item of media" value="item">{{item}}</option>
      </select>
    </div>
		<div>
			<button></button>
			<p></p>
		</div>
		<div class="row justify-content-end">
      <div class="col-4">
				<button class="btn btn-normal">{{ 'common.save' | translate }}</button>
			</div>
		</div>
	</form>
</div>