<div class="modal-header">
  <span>{{ 'settings.control' | translate }}</span>
  <button type="button" class="close-btn" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
	<ul>
		<li *ngFor="let item of media; let i = index">{{i}}. {{item}}</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="pause-icon"></button>
	<button type="button" class="prev-icon"></button>
	<button type="button" class="prev2-icon"></button>
	<button type="button" class="next-icon"></button>
	<button type="button" class="next2-icon"></button>
	<button type="button" class="refresh-icon"></button>
	<button type="button" class="stop-icon"></button>
</div>