@import '../../app.component.scss';

ul {
	padding: 0;
}

ul li {
	border-bottom: 1px solid $color-grey;
	font-weight: bold;
	list-style-type:none;
}

ul li:active {
	color: $color-blue;
}

.pause-icon {
  background: url('~/../../assets/pause.png') no-repeat;
  height: 4.5rem;
	padding-left: 4.3rem;
  width: auto;
}

.prev-icon {
  background: url('~/../../assets/prev.png') no-repeat;
  height: 4.2rem;
	padding-left: 4.3rem;
  width: auto;
}

.prev2-icon {
  background: url('~/../../assets/prev2.png') no-repeat;
  height: 4rem;
	padding-left: 3.8rem;
  width: auto;
}

.next-icon {
  background: url('~/../../assets/next.png') no-repeat;
  height: 4.2rem;
	padding-left: 4.5rem;
  width: auto;
}

.next2-icon {
  background: url('~/../../assets/next2.png') no-repeat;
  height: 4rem;
	padding-left: 4rem;
  width: auto;
}

.stop-icon {
  background: url('~/../../assets/stop.png') no-repeat;
  height: 4.2rem;
	padding-left: 4.3rem;
  width: auto;
}

.refresh-icon {
  background: url('~/../../assets/refresh.png') no-repeat;
  height: 4.5rem;
	padding-left: 4.6rem;
  width: auto;
}