<div class="modal-header">
  <span>{{ 'service.view_service' | translate }}</span>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <img src="../../../assets/cross.svg" alt="">
  </button>
</div>
<div class="modal-body">
  <div>
    <p>{{ '' | translate }}</p>
    <p>{{ _service.nameRu }}</p>
  </div>
  <div>
    <p>{{ '' | translate }}</p>
    <p>{{ _service.nameKz }}</p>
  </div>
  <div>
    <p>{{ '' | translate }}</p>
    <p></p>
  </div>
  <div>
    <p>{{ '' | translate }}</p>
    <p></p>
  </div>
  <div>
    <p>{{ '' | translate }}</p>
    <p></p>
  </div>
  <div>
    <p>{{ '' | translate }}</p>
    <p></p>
  </div>
  <div>
    <p>{{ '' | translate }}</p>
    <p></p>
  </div>
  <div>
    <p>{{ '' | translate }}</p>
    <p></p>
  </div>
  <div>
    <p>{{ '' | translate }}</p>
    <p></p>
    <span></span>
  </div>
</div>