@import '../../app.component.scss';

.btn-row-container {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.close-btn {
  background: url('../../../assets/cross.svg') no-repeat;
  margin-left: 44rem;
  width: 3.3rem;
  height: 3.3rem;
}

.close-btn-container {
  margin-bottom: 1rem;
}

.confirmation-container {
  margin-bottom: 1rem;
  padding: 1rem;
}

.confirmation-text {
  margin-left: 1rem;
}

.modal-body {
  padding: 1.2rem;
  min-width: 39rem;
  min-height: 19rem;
}