<div class="modal-body">
  <div class="close-btn-container">
    <button type="button" class="close-btn" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="confirmation-container">
    <img src="../../../assets/delete.svg" alt="delete-button" class="delete-button"><span class="confirmation-text">{{ 'common.confirmation' | translate }}</span>
  </div>
  <div class="btn-row-container">
    <button data-dismiss="modal" class="btn btn-light" type="button" (click)="activeModal.close(false)">{{ 'common.cancel' | translate }}</button>
    <button data-dismiss="modal" class="btn btn-normal" type="button" (click)="activeModal.close(true)">{{ 'common.delete' | translate }}</button>
  </div>
</div>
