$background-color-grey: #eaeef4;
$color-grey: #dbdfe5;
$color-grey2: #dbe0e4;
$color-light-grey: #f5f5f5;
$border-color-status-active: #8cdab3;
$border-color-status-inactive: #f2d0d0;
$color-blue: #2b5bbc;
$color-blue-disabled: #6083cf;
$color-blue-focused: #3a6ad6;
$color-blue-pressed: #1e499b;
$button-color-green-disabled: #5fb868;
$button-color-green-focused: #62bf72;
$button-color-green-pressed: #53a361;
$color-green-normal: #5fb868;
$input-border-color-grey: #c5cbd4;
$input-text-color-grey: #c3ccd4;
$loading-bar-color-uncompleted: #eaf5f0;
$row-hover-color: #ecf3f8;
$table-header-color: #d5d8e3;
$table-header-text-color: #5a5a5a;
$dark1-color: #242424;
$dark2-color: #4b4b4b;
$text-color-disabled: #43864d;
$text-color-status-inactive: #e24d35;

html, body {
	height: 100%;
}

body {
	border-color: $color-grey;
	font-family: 'Roboto';
}

a {
	color: inherit;
}

button {
	background-color: #fff;
	border-width: 0;
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
}

input[type=text] {
	border-color: $input-border-color-grey;
}

input[type=text]:disabled {
	background-color: $background-color-grey;
	border-color: $input-border-color-grey;
	color: $input-text-color-grey;
}

input[type=text]:focus {
	border-color: $color-blue;
}

input[type=text]:active {
	border-color: $color-blue;
}

p {
	font-size: 1.6rem;
}

section {
	background-color: $background-color-grey;
}

select {
	appearance: none;
	background: url('~/../../assets/down.svg') bottom 1.4rem right 1.4rem no-repeat;
	border-color: $input-border-color-grey;
}

select:focus {
	border-color: $input-border-color-grey;
}

select:disabled {
	background-color: $background-color-grey;
	border-color: $input-border-color-grey;
	color: $input-text-color-grey;
}

select:active {
	border-color: $input-border-color-grey;
}

td {
	background-color: #fff;
	color: $dark1-color;
	padding: auto 2.5rem;
}

th {
	color: $table-header-text-color;
	padding: 1.3rem 2.5rem;
}

.action-icon {
	filter: grayscale(1);
	margin: 0.5rem;
}

.btn {
	font-size: 1.6rem;
	transition-duration: 0ms;
}


.btn-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.2rem;
	height: 5.6rem;
}

.btn-normal {
	background-color: $color-blue;
	color: #fff;
	font-size: 1.6rem;
	line-height: 1;
	margin: 0 1.1rem;
	padding: 1.4rem 2rem;
}

.btn-normal:focus {
	background-color: $color-blue-focused;
}

.btn-normal:disabled {
	background-color: $color-blue-disabled;
}

.btn-normal:active {
	background-color: $color-blue-pressed;
}

.btn-grey {
	background-color: $color-grey2;
	font-size: 1.6rem;
	line-height: 1;
	margin: 0 1.1rem;
	padding: 1.4rem 2rem;
}

.add-btn {
	background-color: $color-green-normal;
	color: #fff;
	font-size: 1.6rem;
	margin: 0 1.1rem;
	padding: 1rem 2rem;
}

.add-btn:focus {
	background-color: $button-color-green-focused;
}

.add-btn:disabled {
	background-color: $button-color-green-disabled;
}

.add-btn:active {
	background-color: $button-color-green-pressed;
}

.arrow-btn {
	padding-left: 1.7rem;
}

.arrow-up {
  background: url('~/../../assets/arrow-up-blue.svg') left 0.5rem no-repeat;
}

.arrow-down {
  background: url('~/../../assets/arrow-down-blue.svg') left 0.5rem no-repeat;
}

.branch-config-container {
	background-color: #fff;
	font-size: 1.6rem;
	margin: 1.6rem 4.0rem;
	width: calc(100% - 8.0rem);
}

.content-container {
	margin: 1.6rem 2.0rem;
	width: calc(100% - 4.0rem);
}

.close-btn {
  background: url('~/../../assets/cross.svg') no-repeat;
	border-color: $dark2-color;
	width: 3.3rem;
  height: 3.3rem;
}

.small-close-btn {
  background: url('~/../../assets/small-cross.svg') no-repeat;
	border-color: $dark2-color;
	width: 2.6rem;
  height: 2.6rem;
}

.document-icon {
  background: url('~/../../assets/document.svg') no-repeat;
	width: 4.4rem;
  height: 4.4rem;
}

.excel-btn {
	background: url('~/../../assets/dots.svg') center no-repeat;
	width: 4.4rem;
  height: 4.4rem;
	background-color: $color-grey;
	font-size: 1.6rem;
	margin: 0.8rem 0 0.8rem 1.1rem;
  padding: 1rem;
}

.form-control {
	box-shadow: none;
	font-size: 1.6rem;
	min-height: 4.0rem;
}

input .form-control {
	padding: 1.2rem;
}

select .form-control {
	padding: 0.6rem;
}

.form-group {
	margin-bottom: 1.6rem;
}

.header-row {
	background-color: $table-header-color;
}

.initial-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 45%;
	top: 45%;
	width: max-content;
}

.modal-body {
	font-size: 1.6rem;
	padding: 3.2rem;
}

.modal-header {
	font-size: 1.8rem;
	font-weight: bold;
	padding: 1.5rem 1rem 1.1rem 3.2rem;
}

.add-icon {
  background: url('~/../../assets/add.svg') no-repeat;
}

.edit-icon {
  background: url('~/../../assets/edit.svg') no-repeat;
}

.delete-icon {
  background: url('~/../../assets/delete.svg') no-repeat;
}

.test-icon {
  background: url('~/../../assets/test.svg') no-repeat;
  height: 1.5rem;
	padding-left: 1.8rem;
  width: auto;
}

.edit2-icon {
  background: url('~/../../assets/edit2.svg') no-repeat;
	height: 1.7rem;
	padding-left: 2rem;
  width: auto;
}

.delete2-icon {
  background: url('~/../../assets/delete2.svg') no-repeat;
	height: 1.8rem;
	padding-left: 2rem;
  width: auto;
}

.action-icon {
	width: 3rem;
	height: 3rem;
}

.search-bar {
  background: url('~/../../assets/search_icon.svg') bottom 1.4rem right 1.4rem no-repeat;
  background-color: #fff;
  border: 1px solid $color-grey;
  border-radius: 0.25rem;
	font-size: 1.6rem;
	margin-right: 1.2rem;
	min-width: 30rem;
	height: 4.4rem;
	padding-left: 1.5rem;
}

.search-bar-form {
	margin-top: 0.6rem;
}

.title {
	font-size: 2.4rem;
	font-weight: 900;
	margin: 0.8rem;
	height: 4rem;
}

.table {
	font-size: 1.6rem;
}

.table td, th {
	border-collapse: separate;
	border-spacing: 0;
}

.table thead tr th {
	border-width: 0;
}

.tooltip-text {
	font-size: 1rem;
}