@import '../../app.component.scss';

nav {
	border-right: 1px solid $color-grey;
	height: 100vh;
}

.open {
	width: 31rem;
}

nav ul {
	padding: 0;
}

nav ul li {
	list-style: none;
	border-bottom: 1px solid $color-grey;
	text-align: left;
}

nav ul li button, nav ul li a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

nav a {
	border-bottom: 1px solid $color-grey;
	font-weight: bold;
	font-size: 1.6rem;
	text-decoration: none;
}

nav i {
	margin-left: auto;
}

nav span {
	font-weight: bold;
}

.arrow {
	margin: 1.5rem 1.5rem 1.5rem 0;
	display: inline-block;
	height: 2.8rem;
	width: 2.8rem;
}

.arrow-up {
	background: url('../../../assets/arrow-up-grey.svg') no-repeat;
}

.arrow-right {
	background: url('../../../assets/arrow-right-grey.svg') no-repeat;
}

.arrow-down {
	background: url('../../../assets/arrow-down-grey.svg') no-repeat;
}

.open a {
	border-bottom: 0px;
}

.sublink {
	padding: 0;
}

.sublink-text {
	margin-left: 2.4rem;
}

.menu-dropdown {
	padding: 0;
}

.menu-item {
	height: 5.8rem;
}

.menu-logo {
	border-width: 0;
	display: inline-block;
	margin: 1.45rem 2.4rem;
	width: 2.9rem;
	height: 2.9rem;
}

.menu-logo-open {
	background: url('../../../assets/sidebar-opened.svg') no-repeat;
}

.menu-logo-closed {
	background: url('../../../assets/sidebar-closed.svg') no-repeat;
}

.administration-logo {
	background: url('../../../assets/administration-logo.svg') no-repeat;
}

.monitoring-logo {
	background: url('../../../assets/monitoring-logo.svg') no-repeat;
}

.reports-logo {
	background: url('../../../assets/reports-logo.svg') no-repeat;
}

.settings-logo {
	background: url('../../../assets/settings-logo.svg') no-repeat;
}

.kezek-logo {
	background: url('../../../assets/kezek-small-logo.svg') no-repeat;
	border-width: 0;
	margin: 1.5rem auto 1.5rem 2.4rem;
	width: 9.5rem;
	height: 3.0rem;
}

.sidebar-top {
	border-bottom: 1px solid $color-grey;
	display: flex;
	justify-content: space-between;
}

.sidebar-top .menu-logo {
	margin: 1.5rem 2.4rem;
}

.open .sidebar-top .menu-logo {
	margin: 1.5rem 1rem 1.5rem 0;
}

.open .monitoring-logo, .open .settings-logo, .open .reports-logo, .open .administration-logo {
	padding: 0.4rem 0 0 5.3rem;
}

.dropdown-toggle::after {
	display:none;
}

.dropdown-item {
	padding: 1.5rem 2.4rem;
}