<nav [ngClass]="{'open': sidebarOpen}">
  <div class="sidebar-top">
    <button type="button" class="kezek-logo" *ngIf="sidebarOpen"></button>
    <button type="button" class="menu-logo menu-logo-closed" (click)="sidebarOpen = !sidebarOpen" *ngIf="!sidebarOpen"></button>
    <button type="button" class="menu-logo menu-logo-open" (click)="sidebarOpen = !sidebarOpen" *ngIf="sidebarOpen"></button>
  </div>
  <ul *ngIf="!sidebarOpen">
    <li>
      <div ngbDropdown class="d-inline-block">
        <button ngbDropdownToggle class="btn">
          <span class="menu-logo monitoring-logo"></span>
        </button>
        <div class="menu-dropdown" ngbDropdownMenu>
          <a ngbDropdownItem [routerLink]="'/'">{{ 'menu.monitoring_of_operators' | translate }}</a>
          <a ngbDropdownItem [routerLink]="'/'">{{ 'menu.monitoring_of_tickets' | translate }}</a>
          <a ngbDropdownItem [routerLink]="'/'">{{ 'menu.monitoring_of_services' | translate }}</a>
        </div>
      </div>
    </li>
    <li>
      <div ngbDropdown class="d-inline-block">
        <button ngbDropdownToggle class="btn">
          <span class="menu-logo reports-logo"></span>
        </button>
        <div class="menu-dropdown" ngbDropdownMenu>
          <a ngbDropdownItem [routerLink]="'/'">{{ 'menu.report_on_services' | translate }}</a>
          <a ngbDropdownItem [routerLink]="'/'">{{ 'menu.report_on_load' | translate }}</a>
          <a ngbDropdownItem [routerLink]="'/'">{{ 'menu.report_on_operators' | translate }}</a>
          <a ngbDropdownItem [routerLink]="'/'">{{ 'menu.report_on_tickets' | translate }}</a>
        </div>
      </div>
    </li>
    <li>
      <div ngbDropdown class="d-inline-block">
        <button ngbDropdownToggle class="btn">
          <span class="menu-logo settings-logo"></span>
        </button>
        <div class="menu-dropdown" ngbDropdownMenu>
          <a ngbDropdownItem [routerLink]="'/settings'">{{ 'menu.main_information_panel' | translate }}</a>
        </div>
      </div>
    </li>
    <li>
      <div ngbDropdown class="d-inline-block">
        <button ngbDropdownToggle class="btn">
          <span class="menu-logo administration-logo"></span>
        </button>
        <div class="menu-dropdown" ngbDropdownMenu>
          <a ngbDropdownItem [routerLink]="'/users'">{{ 'menu.list_of_users' | translate }}</a>
          <a ngbDropdownItem [routerLink]="'/branches'">{{ 'menu.branches' | translate }}</a>
          <a ngbDropdownItem [routerLink]="'/service-pool'">{{ 'menu.service_pool' | translate }}</a>
          <a ngbDropdownItem [routerLink]="'/hierarchy'">{{ 'menu.hierarchy' | translate }}</a>
        </div>
      </div>
    </li>
  </ul>
  <ul *ngIf="sidebarOpen">
    <li>
        <button class="btn" (click)="monitoringOpen = !monitoringOpen">
          <span class="menu-item">
            <span class="menu-logo monitoring-logo">{{ 'menu.monitoring' | translate }}</span>
          </span>
          <span *ngIf="monitoringOpen" class="arrow arrow-up"></span>
          <span *ngIf="!monitoringOpen" class="arrow arrow-down"></span>
        </button>
    </li>
    <li *ngIf="monitoringOpen">
      <a [routerLink]="'/'">
        <span class="sublink-text">{{ 'menu.monitoring_of_operators' | translate }}</span>
        <span class="arrow arrow-right"></span>
      </a>
    </li>
    <li *ngIf="monitoringOpen">
      <a [routerLink]="'/'">
        <span class="sublink-text">{{ 'menu.monitoring_of_tickets' | translate }}</span>
        <span class="arrow arrow-right"></span>
      </a>
    </li>
    <li *ngIf="monitoringOpen" class="sublink">
      <a [routerLink]="'/'">
        <span class="sublink-text">{{ 'menu.monitoring_of_services' | translate }}</span>
        <span class="arrow arrow-right"></span>
      </a>
    </li>
    <li>
      <button class="btn" (click)="reportsOpen = !reportsOpen">
        <span class="menu-item">
          <span class="menu-logo reports-logo">{{ 'menu.reports' | translate }}</span>
        </span>
        <span *ngIf="reportsOpen" class="arrow arrow-up"></span>
        <span *ngIf="!reportsOpen" class="arrow arrow-down"></span>
      </button>
    </li>
    <li *ngIf="reportsOpen">
      <a [routerLink]="'/'">
        <span class="sublink-text">{{ 'menu.report_on_services' | translate }}</span>
        <span class="arrow arrow-right"></span>
      </a>
    </li>
    <li *ngIf="reportsOpen">
      <a [routerLink]="'/'">
        <span class="sublink-text">{{ 'menu.report_on_load' | translate }}</span>
        <span class="arrow arrow-right"></span>
      </a>
    </li>
    <li *ngIf="reportsOpen">
      <a [routerLink]="'/'">
        <span class="sublink-text">{{ 'menu.report_on_operators' | translate }}</span>
        <span class="arrow arrow-right"></span>
      </a>
    </li>
    <li *ngIf="reportsOpen">
      <a [routerLink]="'/'">
        <span class="sublink-text">{{ 'menu.report_on_tickets' | translate }}</span>
        <span class="arrow arrow-right"></span>
      </a>
    </li>
    <li>
      <button class="btn" (click)="settingsOpen = !settingsOpen">
        <span class="menu-item">
          <span class="menu-logo settings-logo">{{ 'menu.settings' | translate }}</span>
        </span>
        <span *ngIf="settingsOpen" class="arrow arrow-up"></span>
        <span *ngIf="!settingsOpen" class="arrow arrow-down"></span>
      </button>
    </li>
    <li *ngIf="settingsOpen">
      <a [routerLink]="'/settings'">
        <span class="sublink-text">{{ 'menu.main_information_panel' | translate }}</span>
        <span class="arrow arrow-right"></span>
      </a>
    </li>
    <li>
      <button class="btn" (click)="administrationOpen = !administrationOpen">
        <span class="menu-item">
          <span class="menu-logo administration-logo">{{ 'menu.administration' | translate }}</span>
        </span>
        <span *ngIf="administrationOpen" class="arrow arrow-up"></span>
        <span *ngIf="!administrationOpen" class="arrow arrow-down"></span>
      </button>
    </li>
    <li *ngIf="administrationOpen">
      <a [routerLink]="'/users'">
        <span class="sublink-text">{{ 'menu.list_of_users' | translate }}</span>
        <span class="arrow arrow-right"></span>
      </a>
    </li>
    <li *ngIf="administrationOpen">
      <a [routerLink]="'/branches'">
        <span class="sublink-text">{{ 'menu.branches' | translate }}</span>
        <span class="arrow arrow-right"></span>
      </a>
    </li>
    <li *ngIf="administrationOpen">
      <a [routerLink]="'/service-pool'">
        <span class="sublink-text">{{ 'menu.service_pool' | translate }}</span>
        <span class="arrow arrow-right"></span>
      </a>
    </li>
    <li *ngIf="administrationOpen">
      <a [routerLink]="'/hierarchy'">
        <span class="sublink-text">{{ 'menu.hierarchy' | translate }}</span>
        <span class="arrow arrow-right"></span>
      </a>
    </li>
  </ul>
</nav>