@import '../app.component.scss';

table tr:hover td,table tr:hover td button {
	background-color: $row-hover-color;
}

table tr:hover .action-icon {
	filter: grayscale(0);
}

.dropdown-toggle::after {
	display:none;
}

.save-btn .add-btn {
	margin: 0.8rem;
	padding: 0 2.4rem;
}

.btn-row button {
	margin-top: 0.8rem;
}

.button-group-col {
	width: 14rem;
}

.subcategory-row td {
	padding-left: 2.5rem;
}