<section class="content-container">
  <div *ngIf="!categories.length" class="initial-block">
    <span class="document-icon"></span>
    <p>{{ 'service.services_are_absent' | translate }}</p>
    <button type="button" class="btn add-btn" (click)="addCategory()">+ {{ 'service.add_category' | translate }}</button>
  </div>
  <div class="btn-row d-flex" *ngIf="categories.length">
    <span class="title mr-auto">{{ 'menu.service_pool' | translate }}</span>
    <span class="d-flex">
      <button type="button" class="btn btn-normal save-btn">+ {{ 'common.save' | translate }}</button>
      <button type="button" class="btn add-btn" (click)="addCategory()">{{ 'service.add_category' | translate }}</button>
      <div ngbDropdown class="d-inline-block">
        <button ngbDropdownToggle type="button" class="btn excel-btn"></button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem>{{ 'hierarchy.export_excel' | translate }}</button>
          <button ngbDropdownItem>{{ 'hierarchy.import_excel' | translate }}</button>
        </div>  
      </div>
    </span>
  </div>
  <table class="table" *ngIf="categories.length">
		<colgroup>
			<col>
			<col>
			<col>
			<col>
			<col>
			<col>
			<col>
			<col>
			<col>
			<col class="button-group-col">
		</colgroup>
    <thead>
      <tr class="header-row">
        <th scope="col">{{ 'service.name_in_ru' | translate }}</th>
        <th scope="col">{{ 'service.name_in_kz' | translate }}</th>
        <th scope="col">{{ 'service.code' | translate }}</th>
        <th scope="col">{{ 'service.description' | translate }}</th>
        <th scope="col">{{ 'service.standard' | translate }}</th>
        <th scope="col">{{ 'service.complexity' | translate }}</th>
        <th scope="col">{{ 'service.priority' | translate }}</th>
        <th scope="col">{{ 'service.call_order' | translate }}</th>
        <th scope="col">{{ 'service.color' | translate }}</th>
        <th scope="col">{{ 'common.actions' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let category of categories;">
        <tr class="border-bottom-grey">
          <td colspan="9">
            <button class="btn arrow-btn" [ngClass]="{'arrow-up':category.showChildren,'arrow-down':!category.showChildren}" (click)="category.showChildren = !category.showChildren">
							{{category.nameRu}}
						</button>
          </td>
          <td class="button-group-col">
            <button type="button" class="btn add-icon" (click)="addService()"></button>
            <button type="button" class="btn edit-icon" (click)="editCategory(category)"></button>
            <button type="button" class="btn delete-icon" (click)="deleteCategory()"></button>
          </td>  
        </tr>
        <ng-container *ngFor="let item of category.items" id="category.nameRu">
          <tr *ngIf="item.type === 'subcategory' && category.showChildren" class="border-bottom-grey">
            <td colspan="9">
              <button class="btn arrow-btn" [ngClass]="{'arrow-up':item.showChildren,'arrow-down':!item.showChildren}" (click)="item.showChildren = !item.showChildren">
                {{item.nameRu}}
              </button>
            </td>
            <td class="button-group-col">
              <button type="button" class="btn add-icon action-icon" (click)="addService()"></button>
              <button type="button" class="btn edit-icon action-icon" (click)="editCategory(item)"></button>
              <button type="button" class="btn delete-icon action-icon" (click)="deleteCategory()"></button>
            </td>
          </tr>
          <ng-container *ngIf="item.type === 'subcategory' && category.showChildren && item.showChildren">
            <tr class="border-bottom-grey subcategory-row" *ngFor="let service of item.services">
              <td>{{service.nameRu}}</td>
              <td>{{service.nameKz}}</td>
              <td>{{service.code}}</td>
              <td>{{service.description}}</td>
              <td>{{service.standard}}</td>
              <td>{{service.complexity}}</td>
              <td>{{service.priority}}</td>
              <td>{{service.call_order}}</td>
              <td>{{service.color}}</td>
              <td>
                <button type="button" class="btn edit-icon" (click)="editService(service)"></button>
                <button type="button" class="btn delete-icon" (click)="deleteService(service.code, item.nameRu)"></button>
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="item.type === 'service' && category.showChildren" class="border-bottom-grey subcategory-row">
            <td>{{item.nameRu}}</td>
            <td>{{item.nameKz}}</td>
            <td>{{item.code}}</td>
            <td>{{item.description}}</td>
            <td>{{item.standard}}</td>
            <td>{{item.complexity}}</td>
            <td>{{item.priority}}</td>
            <td>{{item.call_order}}</td>
            <td>{{item.color}}</td>
            <td>
              <button type="button" class="btn edit-icon" (click)="editService(item)"></button>
              <button type="button" class="btn delete-icon" (click)="deleteService(item.code, '', category.nameRu)"></button>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</section>