@import '../../app.component.scss';
$green-2: #14b768;

.navbar {
	background-color: #fff;
	border-bottom: 1px solid $color-grey;
	height: 6rem;
	padding: 0;
}

.navbar-nav {
	height: 6rem;
}

.home-logo-container {
	font-size: 1.6rem;
	margin-right: auto;
}

.home-logo {
	background: url('../../../assets/home-blue.svg') no-repeat;
	margin: 1.8rem;
	width: 2.4rem;
	height: 2.4rem;
}

.language-form {
	background: url('../../../assets/arrow-down-blue.svg') bottom 1.4rem right 1.4rem no-repeat;
	font-size: 1.6rem;
	margin-right: 1.6rem;
	margin-top: 0;
	padding-left: 1rem;
}

.language-dropdown {
	height: 4rem;
	margin: 1rem 1.6rem 0;
}

.fa-bell {
	font-size: 4rem;
}

.notification-bell {
	margin: 1rem 0;
}

.notification-count {
	background-color: $green-2;
	border-radius: 50%;
	color: white;
	display: inline-block;
	font-size: 1rem;
	position: relative;
	height: 1.6rem;
	width: 1.6rem;
	right: 2rem;
	bottom: 2.5rem;
	text-align: center;
}

.notification-btn {
	background: url('../../../assets/notifications.svg') no-repeat;
	height: 4.4rem;
	width: 4.2rem;
}

.profile-dropdown {
	margin: 1rem 1.6rem 0.6rem 1.6rem;
}

.profile-logo {
	background: url('../../../assets/profile-logo.svg') no-repeat;
	width: 4.2rem;
	height: 4.2rem;
}

.profile-dropdown-user {
	background: url('../../../assets/user.svg') no-repeat;
	width: 2.4rem;
	height: 2.4rem;
}

.profile-dropdown-exit {
	background: url('../../../assets/exit.svg') no-repeat;
	width: 1.8rem;
	height: 1.9rem;
}

.dropdown-toggle::after {
	display:none;
}

.dropdown-menu {
	padding: 0;
}

.dropdown-item {
	padding: 1.5rem;
}

.notification-toast {
	background-color: #fff;
	border: 1px solid $color-grey;
	border-radius: 0.5rem;
	font-size: 1.6rem;
	font-weight: bold;
	position: absolute;
	right: 9rem;
	top: 6rem;
	width: 25rem;
}

.notification-item {
	margin: 1.8rem;
}

.notification-role {
	font-weight: normal;
}

.notification-text {
	margin-top: 1rem;
}

.notification-text button {
	font-weight: bold;
}

.toast-header {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	padding: 0.9rem 1.8rem;
}

.toast-body {
	padding: 0;
}