<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav home-logo-container">
      <li class="nav-item active">
        <button type="button" class="btn border-0 home-logo">
        </button>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item language-dropdown">
        <select class="form-control language-form" id="languageSelect">
          <option>{{ 'menu.russian' | translate }}</option>
          <option>{{ 'menu.kazakh' | translate }}</option>
          <option>{{ 'menu.english' | translate }}</option>
        </select>
			</li>
			<li class="nav-item notification-bell">
				<button class="notification-btn" (click)="toggleShowNotificationToast()"></button>
				<span class="notification-count">{{notificationCount}}</span>
			</li>
      <li class="nav-item profile-dropdown">
        <div ngbDropdown display="dynamic" class="d-inline-block">
          <button ngbDropdownToggle class="btn profile-logo"></button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem class="profile-dropdown-user">{{ 'menu.profile' | translate }}</button>
            <button ngbDropdownItem class="profile-dropdown-exit">{{ 'menu.exit' | translate }}</button>
          </div>
        </div>
      </li>
    </ul>
	</div>
</nav>
<div *ngIf="showNotificationToast" class="notification-toast" (hide)="toggleShowNotificationToast()">
	<div class="toast-header">{{ 'common.notifications' | translate }}</div>
	<div class="toast-body">
		<div class="notification-item" *ngFor="let notification of notifications">
			<div>{{notification.title}}</div>
			<div class="notification-role">{{notification.role}}</div>
			<div class="notification-text">
				{{notification.text}}
				<button (click)="openNotificationModal()">
					ссылке
				</button>
			</div>
		</div>
	</div>
</div>