<div class="modal-header">
  <span>{{ 'common.notifications' | translate }}</span>
  <button type="button" class="close-btn" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
	<div *ngFor="let notification of notifications; let i = index">
		<div>
			<span class="notification-title">{{notification.title}}</span>
			<span class="notification-role">{{notification.role}}</span>
		</div>
		<div class="notification-text-container">
			<span class="notification-text">{{notification.text}}</span>
			<span class="notification-date">
				{{notification.date}}
				<button class="btn delete-icon action-icon" (click)="hideNotification(i)"></button>
			</span>
		</div>
	</div>
</div>