@import '../../app.component.scss';

.notification-text-container {
	border-bottom: 1px solid $color-grey;
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
	font-weight: bold;
}

.notification-text {
	padding-top: 1rem;
}

.notification-role {
	margin-left: 1rem;
}

.notification-title {
	font-weight: bold;
}