<div class="modal-header">
  <span>{{ _editMode ? ('hierarchy.edit_record_to_hierarchy' | translate) : ('hierarchy.add_record_to_hierarchy' | translate) }}</span>
  <button type="button" class="close-btn" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form name="locationEditForm" role="form" novalidate (ngSubmit)="passLocation()" [formGroup]="locationEditForm">
    <div class="form-group">
			<input type="checkbox" id="isSublocation" formControlName="isSublocation">
      <label for="isSublocation" class="checkbox-inline">
				{{ 'hierarchy.is_sublocation' | translate }}
      </label>
      <span></span>
    </div>
    <div *ngIf="locationEditForm.get('isSublocation').value" class="form-group">
      <label for="parentLocation">{{ 'hierarchy.select_parent' | translate }}</label>
      <select class="form-control" id="parentLocation" formControlName="parentCode">
        <option value="" disabled selected hidden>{{ 'hierarchy.select_parent_placeholder' | translate }}</option>
        <option *ngFor="let parentCode of parentCodes" value="parentCode">{{parentCode}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="code">{{ 'hierarchy.record_code' | translate }}</label>
      <input type="text" placeholder="{{ 'hierarchy.record_code_placeholder' | translate }}" class="form-control" id="code" formControlName="code">
    </div>
    <div class="form-group">
      <label for="nameRu">{{ 'hierarchy.record_title_in_ru' | translate }}</label>
      <input type="text" placeholder="{{ 'hierarchy.record_title_placeholder' | translate }}" class="form-control" id="nameRu" formControlName="nameRu">
    </div>
    <div class="form-group">
      <label for="nameKz">{{ 'hierarchy.record_title_in_kz' | translate }}</label>
      <input type="text" placeholder="{{ 'hierarchy.record_title_in_kz_placeholder' | translate }}" class="form-control" id="nameKz" formControlName="nameKz">
    </div>
    <div class="form-group last-form">
      <label for="timezone">{{ 'hierarchy.timezone' | translate }}</label>
      <select class="form-control" id="timezone" formControlName="timezone">
        <option value="" disabled selected hidden>{{ 'hierarchy.timezone_placeholder' | translate }}</option>
        <option value="GMT+6">GMT+6</option>
        <option value="GMT+5">GMT+5</option>
      </select>
    </div>
    <button type="submit" [disabled]="locationEditForm.invalid" class="btn btn-normal">{{ 'common.add' | translate }}</button>
  </form>
</div>