<section class="content-container">
	<div *ngIf="!settings.length" class="initial-block">
    <span class="document-icon"></span>
    <p>{{ 'settings.regional_settings_are_absent' | translate }}</p>
    <button type="button" class="btn add-btn" (click)="addSettings()">+ {{ 'common.add' | translate }}</button>
	</div>
	<div class="btn-row" *ngIf="settings.length">
		<span class="title">{{ 'settings.main_information_panel_settings' | translate }}</span>
		<button type="button" class="btn add-btn">{{ 'common.add' | translate }}</button>
	</div>
	<table class="table" *ngIf="settings.length">
    <thead>
      <tr class="header-row">
        <th scope="col">{{ 'settings.region' | translate }}</th>
        <th scope="col">{{ 'settings.branch' | translate }}</th>
        <th scope="col">{{ 'settings.display_on_the_right_side' | translate }}</th>
        <th scope="col">{{ 'settings.file' | translate }}</th>
        <th scope="col">{{ 'common.actions' | translate }}</th>
      </tr>
    </thead>
    <tbody>
			<tr *ngFor="let item of settings" class="border-bottom-grey">
				<td>
					<button class="btn" (click)="openPlayControl()">
						{{item.region}}
					</button>
				</td>
				<td>
					<button class="btn" (click)="openPlayControl()">
						{{item.branch}}
					</button>
				</td>
				<td>
					<button class="btn" (click)="openPlayControl()">
						{{item.displayedMedia}}
					</button>
				</td>
				<td>
					<button class="btn" (click)="openPlayControl()">
						{{item.file}}
					</button>
				</td>
				<td>
					<button type="button" class="btn edit-icon action-icon" (click)="editSettings(item)"></button>
					<button type="button" class="btn delete-icon action-icon" (click)="deleteSettings()"></button>
				</td>  
			</tr>
    </tbody>
  </table>
</section>